[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/cJSON"]
	path = 3rdparty/cJSON
	url = git@github.com:DaveGamble/cJSON.git
